/* styles.module.css */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3498db, #5dade2);
}

.calculatorgrid {
  display: grid;
  justify-content: right;
  margin-right: 4rem;
  margin-top: 3rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7.3rem, auto) repeat(5, 5rem);
}

.calculatorgrid > .btnsubgrid > button {
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  border: 1px solid white;
  background-color: #d6dbdf;
}

.sign:hover,
.sign:focus {
  background-color: #edbb99 !important;
}

.calculatorgrid > .btnsubgrid > button:hover,
.calculatorgrid > .btnsubgrid > button:focus {
  background-color: #fff;
}

.sign {
  background-color: #d35400 !important;
}

.span_two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #566573;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px 15px;
  border: 1px solid white;
  word-wrap: break-word;
  word-break: break-all;
}

.output .operand {
  color: white;
  font-size: 2.8rem;
}

.output .operand p {
  margin: 0;
  color: white;
  font-size: 2.8rem;
  word-wrap: break-word;
  word-break: break-all;
}

.calculatorgrid .btnsubgrid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7.3rem, auto) repeat(5, 6rem);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.navigation h1 {
  font-size: 2.2rem;
}

.navigation > ul {
  display: flex;
}

.navigation > ul > li {
  list-style: none;
  padding: 0 1.5rem;
  border-left: 1.4px solid black;
}

.navigation > ul > li:first-child {
  border: none;
}

.navigation > ul > li > a {
  text-decoration: none;
  color: black;
}

.homecontent {
  width: 70%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.75);
  padding: 1em;
  border-radius: 1em;
}

.calculator-page {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
}

.quote {
  width: 60%;
  margin:0;
}